<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true" xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d{yyyyMMdd HH:mm:ss\} %-5p] [%t] %c{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>

    <appender name="LOGFILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.home}/logs/hb-admin.log"/>
        <param name="DatePattern" value="'.'yyyyMMdd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="[%d{MMdd HH:mm:ss SSS\} %-5p] [%t] %c{1}.%M(%L) | %m%n"/>
        </layout>
    </appender>

    <logger name="org.apache">
        <level value="ERROR"/>
    </logger>
    <logger name="org.springframework">
        <level value="ERROR"/>
    </logger>
    <!-- struts2 日志级别 -->
    <logger name="org.apache.struts2">
        <level value="ERROR"/>
    </logger>
    <logger name="com.opensymphony">
        <level value="ERROR"/>
    </logger>
    <!-- 包日志级别 -->
    <logger name="com.asiainfo.bdx">
        <level value="DEBUG"/>

    </logger>
    <!--<logger name="com.asiainfo.biapp.schedule.admin.dao">
        <level value="ERROR" />
    </logger>-->
    <!-- Action层日志级别 -->
    <logger name="com.opensymphony.xwork2.ActionSupport">
        <level value="ERROR"/>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>